@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@600&display=swap');
*{
    margin: 0;padding: 0;box-sizing: border-box;
}
.our_fishing{
    display: flex;
    height: auto;
}
.side_nav{
    width: 25%;
    height: 100%;
    overflow-y: scroll;
    /* display: none; */
}
/* Change the color of the scrollbar track (the background behind the thumb) */
.side_nav::-webkit-scrollbar {
    width: 2px; /* Set a width for the scrollbar if you want */
}

/* Change the color of the scrollbar thumb (the draggable part) */
.side_nav::-webkit-scrollbar-thumb {
    background-color: rgb(25, 157, 197);
}

/* Change the color on hover for the thumb */
.side_nav::-webkit-scrollbar-thumb:hover {
    background-color: rgb(25, 157, 197);
}

/* Change the color of the scrollbar track when the thumb is grabbed */
.side_nav::-webkit-scrollbar-thumb:active {
    background-color: rgb(25, 157, 197);
}
.cards{
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* occasion */
.occasion{
    width: 100%;
    /* height: 40%; */
    margin-top: 100px;
}
.heading{
    text-align: center;
    font-size: 30px;
    font-family: 'AR One Sans', sans-serif;
    text-transform: uppercase;
    border-bottom: 1px solid black;
    display: inline-block;
    font-style: italic;
    color: rgb(10, 104, 133);
}
.filter{
    display: flex;
    align-items: center;
    padding-left:20px;
    line-height: 20px;
}
.filter > .checkbox{
    margin-right: 10px;
    width: 20px;
    height: 20px;
}
.filter > input[type="checkbox"] {
    background: #990000;    
}
.filter > p{
    font-family: 'AR One Sans', sans-serif;
    font-size: 20px;
    padding-top: 18px;
    color: rgb(25, 157, 197);
}
.discount{
    width: 100%;
    height: 40%;
}

span{
    display: flex;
    gap: 8%;
}

/* cards section */
.main-heading{
    text-align: center;
    font-size: 50px;
    font-family: 'AR One Sans', sans-serif;
    font-style: italic;
    padding-top: 70px;
    color: rgb(25, 157, 197);
}
.sailing-card{
    margin: 10px auto;
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
}
.sailing-card:hover{
    cursor: pointer;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}
.sailing-card:hover .card-img-top{
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    transition: 1s;
}
.cards-btn{
    border: 1px solid rgb(25, 157, 197);
    background-color: rgb(25, 157, 197);
    color: white;
    padding: 2px 10px;
    border-radius: 4px;
}
.card-title{
    margin-top: 10px;
}
.card-text{
    color: red;
}




.humburger{
    position: fixed;
    z-index: 2;
    top: 10px;
    left: 30px;
    font-size: 30px;
    color: rgb(25, 157, 197);
    display: none;
}

































/* media query */
@media (max-width: 576px) {
    .side_nav{
        position: fixed;
        z-index: 10;
        width: 70%;
        left: -100%;
        background-color: white;
    }
    .cards{
        width: 100%;
    }
    .main-heading{
        font-size: 30px;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .side_nav{
        position: fixed;
        z-index: 10;
        width: 70%;
        left: -100%;
        background-color: white;
    }
    .cards{
        width: 100%;
    }
    .main-heading{
        font-size: 30px;
    }
    #humburger{
        display: block !important;
    }
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

 }  

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 }